body {
    box-sizing: border-box;
    height: 100%;
    background-image: url(img/hypnotize.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form form {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.formArea {
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
    border-radius: 5px;
    background-color: white;
    width: 450px;
    height: 200px;
    margin: 100px auto;
    padding: 20px;
}