body {
    font-family: 'Ubuntu', serif;
    background: #aaa;
}
h2 {
    margin-bottom: 50px;
    font-size: 40px; color: #fff;
}
form {
    margin-bottom: 20px; padding: 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
button {
    font-size: 18px;
}
input.form-control,
textarea.form-control,
select.form-control {
    color: #333; font-weight: bold;
    border-color: #333;
}
.form-submit {
  margin-top: 30px;
}
.form-message {
    padding: 5px;
    text-align: center; color: #fff; font-size: 18px;
}
.form-message-error {
    background: red;
}
.form-message-success {
    background: green;
}
